#banner{
    max-width: 100vw;
    width: 100%;
    height: 70vh;
    min-height: 450px;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    font-size: 6vw;    
    grid-column: span 2;
    grid-row: 1;
}

#banner > ul{
    list-style: none;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    padding: 0;
    display: flex;
    z-index: 0;
}


#banner > ul > li{
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px 0 25px;
}

#banner > ul > li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.22);
    pointer-events: none;

}

#banner .banTitle{
    color: white;
    font-weight: bold;
    z-index: 2;
    margin: 0;
    /* line-height: 0.8; */
    margin-bottom: 6vh;
    opacity: 0;
    text-align: center;
    font-size: 1em;    
}

#banner .banSubtitle{
    z-index: 2;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    white-space: nowrap;
    animation:blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    opacity: 0;
    font-size: 0.4em;
    min-height: 30px;
}
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

#banner .banButtons{
    z-index: 2;
    display: flex;
    gap: 20px;
}



#banner .banButtons a{
    text-align: center;
    padding: 5px 40px 5px 40px;
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    font-weight: bold;
    font-size: 0.2em;
    text-decoration: none;
    opacity: 0;
}

#banner .banButtons a.btn1{
    outline: none;
    background-color: white;
    color: black;
    border-color: white;
}

#banner .banButtons a.btn2{
    outline: none;
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    border-color: white;
}


#banner .separatorWave{
    width: 100vw;
    height: 70px;
    position: absolute;
    bottom: 0;
    user-select: none;
}

@media only screen and (max-width:1200px){

    #banner{
        font-size: 6.5vw;
    }
}

@media only screen and (max-width:1000px){

    #banner{
        font-size: 7vw;
    }

    #banner .banButtons a{
        font-size: 0.23em;
    }
    
}

@media only screen and (max-width:800px){

    #banner{
        font-size: 9vw;
    }
    #banner .banTitle{
        margin-bottom: 8vh;
    }

    #banner .banButtons{
        flex-direction: column;
        gap:10px;
    }

    
}

@media only screen and (max-width:600px){

    #banner{
        font-size: 11vw;
    }
    #banner .banSubtitle{
        animation: none;
        white-space: normal;
        border: none;
        text-align: center;
    }

    #banner .banButtons a{
        font-size: 0.26em;
    }

}

@media only screen and (max-width:500px){

    #banner{
        font-size: 12vw;
    }

    
}

@media only screen and (max-width:450px){

    #banner{
        font-size: 14vw;
    }
}

@media only screen and (max-width:350px){

    #banner{
        font-size: 15vw;
    }
}