
#header-navBar{
    width: 100%;
    grid-column: 1;
}

#header-navBar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
    box-sizing: border-box;
    margin-right: 10%;
}

#header-navBar ul > li{
    display: flex;
    padding: 10px 0 10px 0;
}

#header-navBar a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

@media only screen and (max-width:450px){
    #header-navBar ul{
        justify-content: center;
        margin-right: 0;
    }

}